* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Outer Wilds"; /* Nome para uso no CSS */
  src: url("fonts/itc-serif-gothic/itc-serif-gothic-regular-588cef4e7134b.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}




body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;

}

.parteSuperior {
  background-image: url("/img/outer-wilds-4k.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: auto;
  height: auto;
  color: white;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* Estilos para a logo e o nome no topo */
.parteSuperior .navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.parteSuperior .logoimage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.parteSuperior .logoimage img {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 12px;
  height: 5vw;
}

.links-navbar {
  list-style-type: none;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  gap: 20px;
  font-size: clamp(10px, 1.1vw, 2vw);
  color: #f9cdb2;
  text-decoration: none;
}

.links-navbar a {
  list-style-type: none;
  margin-left: auto;
  padding-left: 15px;
  border-left: solid #f9cdb2 5px;
  border-radius: 4px;
}

/*Meio da primeira sessão*/
.hero {
  display: flex;
  flex-direction: column;
  margin: 8%;
  font-family: "Outer Wilds";

}

.hero h1 {
  font-size: 50px;

}

.hero p {
  font-size: 32px;

}

.herotext {
  justify-content: left;
  width: 50%;
}

.linksbotao {
  display:flex;
  flex-direction: row;
  
}
.herobutton {
  margin: 1%;
  text-decoration: none;
  padding: 2%;
  color: white;
  background-color: #fa7a2b;
  border-radius: 10%;
  font-size: 20px;
}

/* Sessão do meio */
.sessaoHistoria {
  background-color: rgb(42, 39, 59);
  display: flex;
  flex-wrap: wrap;
  padding: 8%;
  
}

.sessaoHistoria h1 {
  flex-grow: 1;
  flex-basis: 100;
  width: 500px;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.textohistoria {
  color: #f9cdb2;
  flex-grow: 1;
  flex-basis: 100;
}

.destaque {
  color: #fa7a2b;
}


/* Sessão de personagens */

.sessaoPersonagens {
  background-color: rgb(39, 33, 33);
  color: white;
  padding-top: 1px;
  display: flex;
  flex-wrap: wrap;
  padding: 8%;
  width: auto;
  height: auto;
  justify-content: space-between;
}

.sessaoPersonagens h1 {
  width: 100%;
}

.sessaoPersonagens div {
  padding: 10px;
  margin: 2%;
  width: 250px;
  height: 500px;
  border: solid white 5px;
  flex-basis: 270px;
  position: relative
}

.imgchar {
  width: 240px;
  height: 240px;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.politicas-footer p {
  display: inline;
}
