
*/ {
    box-sizing: border-box;
}

.parteSuperior {
    background-image: url('/img/outer-wilds-4k.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 720px;
    color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.parteSuperior nav h1 {
    margin-left: 12vw;
}
.sessaoHistoria {
    background-color: white;
}

.sessaoPersonagens {
    background-color: rgb(59, 58, 58);
    color: white;
}

.politicas-footer p {
    display: inline;
}